* {
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    font-family: 'Karla', sans-serif;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

#clock {
    font-size: 20vh;
    flex: 1;
    padding-top: 30vh;
}

.main-footer {
    font-size: 2vh;
}